.section {
  display: flex;
  align-items: center;
  justify-content: center;width: 100%;
}

.section-header {

}

.header {
  margin: auto !important;
  padding-top: 50px;
  padding-bottom:50px;
  line-height: 1.5em;
  font-size: 7vw;
  font-family: "Kaushan Script";
  text-align: center;
  text-overflow: ellipsis;
}

.section-text {
  height: 30vh;
}

.about-me-container {
  margin-bottom: 10%;
}

.about-me-text {
  font-family: "Merienda";
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 1px;
  max-width: 80%;
  margin: auto;
  font-weight: 100
}


.scrollBtnContainer {
  /* height: 30vh; */
}

.resume-section-header {
  /* height: 10vh; */
}

.resume-text {
  line-height: 1.5em;
  font-size: 7vw;
  font-family: "Kaushan Script";
  text-align: center;
  text-overflow: ellipsis;
}


.resume-inner {


}

.resume-container {
  
}

.mt {
  margin-top: 20% !important;
}

@media only screen and (min-width: 800px) {
  .about-me-text {
    margin-left: 25%;
  }
  .mt {
    margin-top: 5% !important;
  }
}


.link {
  color: #ffa622;
  text-decoration: none;
}
.resume-inner h3 {
  font-family: "Merienda";
  color: #00adb5;
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: 1px;
  font-weight: bolder;
  text-align: center;
}

.work-list {
  margin-left: 0px;
  border-left: 2px solid;
  padding-left: 15px;
  border-width: 2px;
  font-family: "Merienda";
  font-size: 1em;
  font-weight: 100;
}

.work-list li {
  list-style-type: none;
  padding-top: 10px;
}

/* #about {
  
}

.header {
  top: 10%;
  left: 0;
  right: 0;
  width: 80%;
  height: 3em;
  line-height: 1.5em;
  font-size: 7vw;
  font-family: "Kaushan Script";
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto;
  
}


.about-me-text {
  font-family: "Merienda";
  font-size: 1.6em;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-weight: 200;
  max-width: 80%;
  margin: auto;
  font-weight: 100
}

.work {
  margin-left: 20%;
  margin-right: 20%;
  font-size: x-large;
}

.work h3 {
  font-family: "Kaushan Script";
  font-size: 1em;
  line-height: 2em;
  letter-spacing: 1px;
  font-weight: bolder;
}

.work-list {
  margin-left: 0px;
  border-left: 2px solid;
  padding-left: 15px;
  border-width: 2px;
  font-family: "Merienda";
  font-size: 1em;
  font-weight: 100;
}

.work-list li {
  list-style-type: none;
  padding-top: 10px;
}

.link {
  color: #00adb5;
  text-decoration: none;

}

.work-group {
  width: max-content;
  margin: 0;
}

#resume {
   margin: auto; 
  margin-top: 20% !important; 
}

@media only screen and (max-width: 400px) {
  .work-group {
    width: max-content;
    margin: 0;
   
  }
} */