.button-inner-container span {
  position:relative;
  width: 100%;
  height: 100%;
  display:block;
  border-radius: 5px;
  border-left: 2px solid #00adb5;
  border-bottom: 2px solid #00adb5;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
.span-two{
  top: -15px;
}
.span-three{
  top: -30px;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


#portfolio span {
  position: absolute;
  bottom: -100%;
  left: 90%;
  width: 34px;
  height: 34px;
  margin-left: -20px;
  border-radius: 10px;
  border-right: 4px solid #00adb5;
  border-top: 4px solid #00adb5;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: goTop 1.5s infinite;
  animation: goTop 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes goTop {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(20px, -20px);
    opacity: 0;
  }
}
@keyframes goTop {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(20px, -20px);
    opacity: 0;
  }
}

.scrollBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: max-content;
  margin-top: -40%;
}
.button-inner-container{
  width:30px;
  height:30px;
  display:block;

}

@media only screen and (min-width: 800px) {
  .scrollBtnContainer {
    margin-top: 0%;
  }
}
