.project {

}

.mobile-projects {
  display:flex;
  width: 100vw;
  align-items:center;
  justify-content: center;
}

.mobile-projects-container {
  display:flex;
  width:max-item;
}

.project-one {
  margin-right: 2vw;
}

.project-two {
  margin-right: 2vw;
}

.project-three {

}

.projects {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.projectImage {

}
@media only screen and (max-width: 806px) {
  .project-one, .project-two, .project-three, .mobile-projects-container, .mobile-projects{
    width: 100vw;
  }
  .mobile-projects, .mobile-projects-container {
    display:block;
  }
  .project-one, .project-two, .project-three {
    padding: 4vw;
  }
}